$margin: 0.5in;

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

body {
  font-family: 'Titillium Web', sans-serif;
}

.resume-container {
  width: 8.5in;
  height: 11in;
  background: white;
}

.header {
  text-align: center;
  clear: both;
  margin-top: 0;
}

.header h1 {
  margin-top: 0;
  padding-top:0;
}

.contact {
  padding-top: 0.1in;
  padding-left: $margin;
  padding-right: $margin;
  text-align: right;
}

.connect {
  padding-top: $margin;
  padding-left: $margin;
}

.section {
  padding-left: $margin;
  padding-right: $margin;
  clear: left;
}

.education {
  padding-bottom: 14px;
}

.title {
  text-decoration: underline;
}

.right {
  float: right;
}

.left {
  float: left;
}

.summary {
  clear: left;
  margin-left: $margin;
  padding-top: 2px;
  font-size: 0.9em;
}

ul {
  margin-top: 0;
}

.notable li {
  display: inline;
}

.notable li:not(:first-child) {
  margin-left: 10px;
}

.notable {
  display: inline-block;
  background: #e2e2e2;
  border-radius: 20px;
  padding-right: 40px;
}

.education {
  padding-top: 8px;
}

.bio {
  text-align: center;
  font-size: 0.8em;
  margin-left: $margin;
  margin-right: $margin;
}

.url {
  text-decoration: underline;
  color: #555;
  margin-right: 5px;
}

table {
  font-size: 0.95em;
}

.technical_skills_summary td:first-child {
  border-bottom: 1px solid #DDD;
  width: 15%;
}

table tr *:first-child {
  font-weight: bold;
}