mixin resume()
    link(rel='stylesheet' href='public/stylesheets/resume.css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Titillium+Web')
    .resume-container
        .contact
            p.right (425) 626-8770
            p.left ConnorSinnott@gmail.com
        .header
            h1.name Connor Sinnott
            h3.subtitle Node.js | TypeScript | Express | React | Perl
        .bio
            hr
            p.
                After graduating from Bellevue College in 2018, I joined a small Redmond based development
                company which was struggling to maintain legacy Perl code and was seeking direction towards newer technologies. 
                With the support of other members in the team, I steered development towards TypeScript, replacing the Apache/Perl 
                server with Express and React while using Nginx to deploy different parts of the website as they become available.
            hr
        .section.technical_skills_summary
            .title Technical Skills Summary
            .summary
                table
                    tr
                        td Languages & Skills:
                        td.
                            Node.js, TypeScript, Perl, Java, Kotlin, Python, JSX, HTML, CSS, SCSS, Pug (Jade), Template Toolkit 2, JSON, XML, Thymeleaf
                    tr
                        td Frameworks:
                        td.
                            React, Redux, jQuery, Express, Koa, Android, Electron, SpringBoot, CGI (Perl), Jest, Selenium, Severless
                    tr
                        td Developer Tools:
                        td.
                            Git (Github & Bitbucket), Docker, JetBrains (WebStorm, IntelliJ, AndroidStudio), Visual Studio Code, DBeaver, Oracle SQL Developer, MySQL Workbench, Jira, YouTrack
                    tr
                        td AWS & Cloud:
                        td.
                            EC2, RDS, Route53, S3, Lambda
                    tr
                        td Systems:
                        td.
                            Linux (Debian, Redhat), Windows
                    tr
                        td Database
                        td.
                            MariaDB, MySQL, Oracle, Mongo, CouchDB, SQLite
        .section.work
            .title Work Experience
            .job
                h4.left Software Developer - Lucidoc
                h4.right September 2018 - Present
                .summary
                    span. 
                        Web-based document management and compliance software. Lucidoc tracks revisions, acknowledgements, 
                        and signatures on official documents as well as simplifies audits by consolidating state, federal, and private requirements into one dashboard.
                    ul
                        li.
                            Switched development from Perl to TypeScript, opting for a dockerized Express application which
                            could be deployed on AWS, as well as modularizing other parts of the application
                            such as PDF generation so that it might utilize a serverless architecture in the future.
                        li. 
                            Aided in the deprecation of IE11 by replacing a homebrew Internet Explorer plugin, used to access the filesystem
                            from the browser, with a thin client offering the same utility but compatible with all browsers.
                        li. 
                            Represented Lucidoc at career fairs and Meetups, researched candidates and conducted interviews.
            .job
                h4.left CodeCoach - TheCoderSchool
                h4.right Jan 2018 - September 2018
                .summary
                    ul
                        li Mentored and trained new coaches in proper instruction techniques.
                        li Taught a small army of children from ages 6-16 Python, JavaScript, Java, and Scratch.
                        li Established a standardized curriculum for new students to create online games.
                        
        .section.hobbies
            .title Hobbies
            .hobby
                h4.left Bellevue College Computer Science Club
                h4.right June 2017 - June 2018
                .summary
                    p Elected president of Bellevue College's Computer Science Club.
            .hobby
                h4.left Cascade Mountain Biking Community (CascadeMTB.com)
                h4.right May 2016 - Present
                .summary
                    p Co-founder of Washington's most active mountain biking community.
        .section.education
            .title Education
                .ed
                    h4.left Bellevue College - Information Systems: Application Development Bachelors Degree (3.8 GPA)
                    h4.right Jun 2018
                    br
                .ed
                    h4.left Phi Theta Kappa - Honors Society
                    h4.right May 2016
                    br
                .ed
                    h4.left Udacity - Android Development Nanodegree
                    h4.right Aug 2016
                    br 