mixin resume()
    link(rel='stylesheet' href='public/stylesheets/resume.css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Titillium+Web')
    .resume-container
        .contact
            p.right (425) 626-8770
            p.left ConnorSinnott@gmail.com
        .header
            h1.name Connor Sinnott
            h3.subtitle Express | React | Android | Electron
        .bio
            hr
            p.
                I grew up writing adventure games in QBasic and placing them on 3.5" floppies to force on my friends.
            p.
                Later in college I was exposed to more advanced languages during an Android development class. Now it's my jam!
            hr
        .section.project
            .title Project Experience
            .project
                h4.left DalmatianICS
                h4.right
                    span.url DalmatianICS.org
                    span - Jan 2018 - Present
                .summary
                    p An overhaul of Eastside Fire & Rescue's Incident Command System (ICS) software.
                    ul.notable
                        li • Electron
                        li • React + Redux
                        li • Typescript
                        li • Flow
                        li • Jest
                        li • Pug
                        li • Amazon S3
            .project
                h4.left NotZork
                h4.right
                    span.url github.com/ConnorSinnott/NotZork
                    span - July 2018 - Present
                .summary
                    p A online text-based adventure game creator/player
                    ul.notable
                        li • React + Redux
                        li • Flow
                        li • Serverless
                        li • Amazon Lambda
                        li • Amazon S3
            .project
                h4.left BlackBox - CodeDay2017
                h4.right
                    span.url github.com/ConnorSinnott/BlackBox
                    span - Feb 2017
                .summary
                    p Winner of "Best Application" from CodeDay2017. A "dead man's switch" concept on Android.
                    ul.notable
                        li • Express
                        li • Node.js
                        li • Android
                        li • Gradle
                        li • CentOS
                        li • Mongo
                        li • Amazon EC2
            .project
                h4.left 123Launch
                h4.right
                    span.url github.com/ConnorSinnott/123Launch
                    span - May 2016 - Jun 2016
                .summary
                    p "Dial pad" homescreen launcher widget for Android phones. Available on Google Play.
                    ul.notable
                        li • Android
                        li • Gradle
                        li • Google Play Services
                        li • EventBus
                        li • SQLite3
        .section.work
            .title Work Experience
            .job
                h4.left CodeCoach - TheCoderSchool
                h4.right Jan 2018 - Present
                .summary
                    ul
                        li Mentored and trained new coaches in proper instruction techniques.
                        li Taught a small army of children from ages 6-16 Python, JavaScript, Java, and Scratch.
                        li Established a standardized curriculum for new students to create online games.
        .section.hobbies
            .title Hobbies
            .hobby
                h4.left Bellevue College Computer Science Club
                h4.right June 2017 - June 2018
                .summary
                    p Elected president of Bellevue College's Computer Science Club.
                br
            .hobby
                h4.left Cascade Mountain Biking Community
                h4.right May 2016 - Present
                .summary
                    p Co-founder of Washington's most active mountain biking community.
        .section.education
            .title Education
                .ed
                    h4.left Bellevue College - Information Systems: Application Development Bachelors Degree (3.8 GPA)
                    h4.right Jun 2018
                    br
                .ed
                    h4.left Phi Theta Kappa - Honors Society
                    h4.right May 2016
                    br
                .ed
                    h4.left Udacity - Android Development Nanodegree
                    h4.right Aug 2016

