mixin resume()
    link(rel='stylesheet' href='public/stylesheets/resume.css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Titillium+Web')
    .resume-container
        .contact
            p (425) 626-8770
            p ConnorSinnott@gmail.com
        .header
            h1.name Connor Sinnott
            h3.subtitle Express | React | Android | Electron
        .section.project
            .title Project Experience
            .project
                h4.left Eastside Fire & Rescue ICS Form Manager
                h4.right Jan 2018 - Jun 2018
                .summary
                    p An overhaul of Eastside Fire & Rescue's Incident Command System form software.
                    ul.notable
                        li • Electron
                        li • React + Redux
                        li • Node.js
                        li • Jest
                        li • Pug
                        li • Amazon S3
            .project
                h4.left BlackBox - CodeDay2017
                h4.right Feb 18 2017 - Feb 19 2017
                .summary
                    p Winner of "Best Application" from CodeDay2017. A "dead man's switch" concept on Android.
                    ul.notable
                        li • Express
                        li • Android
                        li • Node.js
                        li • CentOS
                        li • Mongo
                        li • Amazon EC2, Route 53
            .project
                h4.left 123Launch
                h4.right May 2016 - Jun 2016
                .summary
                    p "Dial pad" homescreen launcher widget for Android phones. Available on Google Play.
                    ul.notable
                        li • Android
                        li • Gradle
                        li • Google Play Services
                        li • EventBus
                        li • SQLite3
        .section.work
            .title Work Experience
            .job
                h4.left CodeCoach - TheCoderSchool
                h4.right Jan 2018 - Present
                .summary
                    ul
                        li Instructor of Python, JavaScript, and Scratch.
                        li Rewrote the curriculum for new students to make the program more accessible.
                        li Onboarded and trained new coaches.
            .job
                h4.left Technical Specialist - REI
                h4.right Jun 2015 - Feb 2018
                .summary
                    ul
                        li Outdoor Programs and Outreach Instructor. Taught bike maintenance and ski repair classes.
                        li Very forward facing and customer accessible; first store to test 'open shop' with no walls.
                        li One of seven mechanics moved to new Bellevue store to establish proper routine.
        .section.hobbies
            .title Hobbies
            .hobby
                h4.left Bellevue College Computer Science Club
                h4.right June 2017 - Present
                .summary
                    p Elected president of Bellevue College's Computer Science Club
                br
            .hobby
                h4.left Cascade Mountain Biking Community
                h4.right May 2016 - Present
                .summary
                    p Co-founder of Washington's most active mountain biking community
        .section.education
            .title Education
                .ed
                    h4.left Bellevue College - Information Systems: Application Development Bachelors Degree (3.8 GPA)
                    h4.right Jun 2018
                    br
                .ed
                    h4.left Phi Theta Kappa - Honors Society
                    h4.right May 2016
                    br
                .ed
                    h4.left Udacity - Android Development Nanodegree
                    h4.right Aug 2016

