mixin resume()
    link(rel='stylesheet' href='public/stylesheets/resume.css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Titillium+Web')
    .resume-container
        .contact
            p (425) 626-8770
            p ConnorSinnott@gmail.com
        .header
            h1.name Connor Sinnott
            h3.subtitle Express | React | Android | SpringBoot
        .section.project
            .title Project Experience
                .project
                    h4.left Eastside Fire & Rescue ICS Form Manager
                    h4.right Jan 2018 - Jun 2018
                    br
                .project
                    h4.left BlackBox - CodeDays2017
                    h4.right Feb 2017
        .section.education
            .title Education
            h4.left Information Systems: Application Development - Bachelors Degree
            h4.right June 2018
